/* src/components/css/executionQueue.css */
.execution-queue {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5b7;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.current-info {
  margin-bottom: 10px;
}
.current-time {
  font-size: 18px;
  margin-bottom: 10px;
}

.arrived-processes {
  font-size: 16px;
}

.arrived-processes {
  display: inline-block;
  margin-right: 10px;
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.execution-queue-chart {
  position: relative;
  height: 100px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.execution-queue-bar {
  position: absolute;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
}

.execution-queue-bar-text {
  font-size: 14px;
  text-align: center;
  z-index: 1;
  padding: 0 5px;
}

.execution-queue-bar-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50px;
  font-size: 12px;
  color: #000;
}

.execution-queue-timeline {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.execution-queue-timeline-marker {
  width: 20px;
  text-align: center;
}

.execution-idle {
  position: absolute;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  color: #000;
  font-size: 12px;
}

.execution-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.execution-buttons button {
}

.execution-buttons button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
/* src/components/css/executionQueue.css */
.gantt-bar.idle {
  background-color: #e0e0e0;
  color: #888;
  border: 1px dashed #888;
}
