/* src/components/css/ProcessInputForm.css */
.process-input-form {
  margin: 20px;
}

.process-input-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.process-input-form label {
  display: flex;
  justify-content: space-between;
}

.process-input-form button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

.process-input-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
