/* src/App.css */

.centered-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

h1,
h2 {
  margin-bottom: 20px;
}

/* Custom Scrollbar Styling */
.xl\:overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.xl\:overflow-y-auto::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 4px;
}

.xl\:overflow-y-auto::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

.xl\:overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
