/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.centered-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

h1,
h2 {
  margin-bottom: 20px;
}
